/* invite modal */
body {
    display: grid;
}
.invite-container {
    display: flex;
    height: 50vh;
}

.invite-container>div:nth-child(1) {
    width: 60%;
    overflow-y: auto;
    border-right: 1px solid lightgrey;
}

.invite-container>div:nth-child(2) {
    width: 40%;
    overflow: auto;
}

.plus-btn {
    text-align: left;
    width: 100%;
}

.plus-btn:hover {
    background-color: lightgray;
}