/* invite modal */
.invite-container {
    display: flex;
    height: 50vh;
}

.invite-container>div:nth-child(1) {
    width: 60%;
    overflow-y: auto;
    border-right: 1px solid lightgrey;
}

.invite-container>div:nth-child(2) {
    width: 40%;
    overflow: auto;
}

.plus-btn {
    text-align: left;
    width: 100%;
}

.plus-btn:hover {
    background-color: lightgray;
}

#button-area {
    display: flex;
}

.inviteBtn {
    background-color: #58b2f7 !important;
    color: white !important;
    border: none !important;
}

.inviteBtn:hover {
    background-color: #005fa3 !important;
}

.leaveGroupBtn {
    background-color: #58b2f7 !important;
    color: white !important;
    border: none !important;
}

.leaveGroupBtn:hover {
    background-color: #005fa3 !important;
}

.createTaskBtn {
    background-color: #58b2f7 !important;
    color: white !important;
    border: none !important;
}

.createTaskBtn:hover {
    background-color: #005fa3 !important;
}

